

html, body {
  margin: 0px;
  padding: 0px;
  font-family: georgia, sans-serif;
}

.hideme {
  color: white;
}

.wrapper {
    display: grid;
    height: 100%;
    grid-gap: 1px;
    grid-template-columns: 100px repeat(11, 1fr);
    grid-template-rows: 80px auto 100px;
}

.header {
    display: flex;
    grid-column: span 12;
    background-color: #E1EF86;
    color: #62B49A;
    justify-content: space-around;
}


.header h1 a {
  text-decoration: none;
}

.header#title {
  flex: 1;
}

.header#search{
  flex: 2;
}

.menu {
    grid-column: span 1;
    background-color: #62B49A;
    color: #FFFFFF;
}

.menu p {
  padding: 5px;
  margin-left: 10px;
}

.menu a {
  text-decoration: none;
  color: #FFF;
}

.menu a:hover {
  background-color: white;
  color: black;
}

.content {
    min-height: 430px;
    background-color: white;
    grid-column: span 10;
    overflow: scroll;
    padding: 20px;
    column-count: 2;
}

.content a {
  text-decoration: none;
  color: black;
}

.content a:hover {
  text-decoration: none;
  background-color: aqua;
  color: white;
}

.content h1 {
  font-size: 24px;
  color: #A5D768;
  column-span: all;
}

.footer {
    grid-column: span 12;
    background-color: #0C4533;
    color: #E1EF86;
}

.footer h5 {
  text-align: right;
  margin-right: 50px;
  margin-top: 40px;
}

@media screen and (max-width: 880px) {

    .wrapper {
      display: grid;
      grid-gap: 1px;
      grid-template-columns: 100px repeat(11, 1fr);
      grid-template-rows: 80px 80px auto 100px;
    }

    .header {
        grid-column: span 12;
    }

    .menu {
      display: flex;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column: span 12;
    }

    .menu p {
      margin-top: 20px;
      flex: 1;
    }

    .content {
        grid-column: span 12;
        column-count: 1;
    }

    .footer {
      grid-column: span 12;
    }
}
